.site-menu-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 800px;

  font-size: $s_2;
  line-height: $l_2;

  margin: 0;
  padding: 0;

  list-style: none;

  z-index: 2; // для arrow на select
}

.site-menu-list__item {
  display: flex;
  align-items: center;

  position: relative;

  margin-right: 60px;
  padding: 36px 0;
}

.site-menu-list__item:last-child {
  margin-right: 0;
}

.site-menu-list__icon,
.site-menu-list__arrow {
  position: absolute;
  content: "";

  top: 50%;

  fill: #ffffff;
}

.site-menu-list__icon {
  left: 0;

  transform: translate(0, -50%);
}

.site-menu-list__arrow {
  right: 0;

  transform: translate(0, -50%) rotate(90deg);

  z-index: -1; // для arrow на select
}

.site-menu-list__link {
  display: block;

  color: #ffffff;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-menu-list__item select {
  background-color: transparent; // для arrow на select
  border: none;

  color: #ffffff;
  text-transform: uppercase;

  appearance: none; // убрать arrow на select для ie

  &:hover {
    cursor: pointer;
  }
}

.site-menu-list__item select::-ms-expand {
  display: none; // убрать arrow на select для ie
}

.site-menu-list__item--language select {
  min-width: 90px;
}

.site-menu-list__item--currency select {
  min-width: 60px;
}

.site-menu-list__link--wrapper option {
  color: #000000;
}

//более большие иконки
.site-menu-list__item--language,
.site-menu-list__item--track {
  padding-left: 40px;
}

//меньшее иконки
.site-menu-list__item--currency,
.site-menu-list__item--location {
  padding-left: 30px;
}
