// переменные цветов
$cyan: #baf9c4;
$blue: #e6eef0;
$red: #fd3131;

// переменные ширин
$width-mobile: 320px;
$width-tablet: 720px;
$width-desktop: 1440px;

// переменные шрифтов
$s_1: 16px; //use
$l_1: 30px;

$s_2: 14px;
$l_2: 18px;

$s_3: 18px;
$l_3: 24px;

$s_4: 30px;
$l_4: 18px;

