// переменные цветов
$cyan: #baf9c4;
$blue: #e6eef0;
$violet: #f5f5f5;
$pink: #fbfafa;
$red: #fd3131;

// переменные ширин
$width-mobile: 320px;
$width-tablet: 720px;
$width-desktop: 1440px;

// переменные шрифтов
$s_1: 16px; //use
$l_1: 30px;
$s_2: 12px; //use
$l_2: 24px;
