.lower-header {
  margin-top: 100px;
}

.lower-header__wrapper {
  width: 1170px;

  margin: 0 auto;
}

.lower-header__logo {
  margin-bottom: 100px;
}

.lower-header__nav {
  margin-bottom: 100px;
}
