.lower-header {
  width: 1170px;

  margin: 90px auto 0 auto;
}

.lower-header .logo {
  width: 200px;

  padding: 10px 0;
  margin: 0 auto 100px auto;
}

.lower-header .nav {
  margin-bottom: 100px;
}
