.user-menu-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 270px;

  font-size: $s_2;
  line-height: $l_2;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-list__item {
  margin-right: 25px;
  padding: 36px 0;
}

.user-menu-list__item:last-child {
  margin-right: 0;
}

.user-menu-list__item--cart {
  position: relative;

  margin-left: 80px;

  &:after {
    position: absolute;
    content: "5";

    color: #ffffff;
    text-align: center;
    line-height: 16px;

    top: 20px;
    right: -10px;

    width: 20px;
    height: 20px;

    background-color: $red;

    border-radius: 50%;
  }
}

.user-menu-list__link {
  display: block;

  color: #ffffff;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.user-menu-list__icon {
  fill: #ffffff;
}
