.goods {
  width: 1170px;

  margin: 100px auto 0 auto;
  padding: 0 15px;
}

.goods__header {
  margin: 0 0 20px 0;

  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
}

.goods__tagline {
  display: block;

  font-size: 13px;
  line-height: 18px;
  color: #6e6e6e;
  text-align: center;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 100px auto 0 auto;

  list-style: none;
}

.goods__item {
  position: relative;

  width: 360px;
  min-height: 450px;

  margin: 0 35px 50px 0;

  background-color: $blue;
  background-repeat: no-repeat;

  &:hover .goods__popup,
  &:hover .goods__info-row  {
    display: block;
  }

  &:hover .goods__info-row:first-child {
    display: flex;
  }
}

.goods__item:nth-child(3n) {
  margin-right: 0;
}

.goods__popup {
  display: none;

  padding: 70px 0;

  background-color: rgba(0, 204, 204, 0.24);
}

.goods__cart-btn,
.goods__show-btn {
  margin: 0 auto 10px auto;
}

.goods__show-btn {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.goods__item--1 {
  background-image: url("../img/model_5.png");
  background-position: 40% -20px;
}

.goods__item--2 {
  background-image: url("../img/model_6.png");
  background-position: 40% top;
}

.goods__item--3 {
  background-image: url("../img/model_7.png");
  background-position: 40% top;
}

.goods__item--4 {
  background-image: url("../img/model_8.png");
  background-position: 40% top;
}

.goods__item--5 {
  background-image: url("../img/model_9.png");
  background-position: 40% top;
}

.goods__item--6 {
  background-image: url("../img/model_10.png");
  background-position: 40% top;
}

.goods__info-block {
  position: absolute;

  width: 300px;

  bottom: 0;
  left: 0;

  margin: 0;
  padding: 15px 30px;

  background-color: #ffffff;

  color: #6e6e6e;
  font-size: 14px;
  line-height: 18px;

  list-style: none;
}

.goods__info-row {
  display: none;

  margin-bottom: 20px;
}

.goods__info-row:first-child {
  display: flex;
  justify-content: space-between;
}

.goods__info-row:last-child {
  margin-bottom: 0;
}

.goods__head {
  margin: 0 0 6px 0;
  color: #000000;
}

.goods__price {
  margin: 0;
  padding: 9px 0;

  font-size: 24px;
  line-height: 18px;
  color: #00cccc;
  font-weight: 600;
}

.goods__colors {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.goods__colors li {
  width: 15px;
  height: 15px;

  margin-right: 10px;

  border-radius: 50%;
}

.goods__color--red {
  background-color: #ff0033;
}

.goods__color--orange {
  background-color: #ff4200;
}

.goods__color--cyan {
  background-color: #33cccc;
}

.goods__color--violet {
  background-color: #6666cc;
}
