.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1125px;

  margin: 0 auto;
  padding: 100px 0;
}

.footer .nav-list {
  max-width: 520px;
}

.footer .nav-list__item {
  margin-right: 30px;
}
