@font-face {
  font-weight: normal;
  font-family: "Georgia";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff"); }

img {
  max-width: 100%; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.page-wrapper {
  width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 300px 0px #a3a3a3; }

.btn {
  display: block;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  width: 126px;
  padding: 13px; }
  .btn:hover {
    cursor: pointer;
    opacity: 0.8; }
  .btn:active {
    opacity: 0.6; }

.body {
  font-family: Georgia, Times, serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2; }

.body--index .nav-list__link--index {
  pointer-events: none !important;
  cursor: default !important;
  font-weight: bold !important; }

.upper-header {
  background-color: #000000; }

.upper-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 0 60px; }

.site-menu-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2; }

.site-menu-list__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 60px;
  padding: 36px 0; }

.site-menu-list__item:last-child {
  margin-right: 0; }

.site-menu-list__icon,
.site-menu-list__arrow {
  position: absolute;
  content: "";
  top: 50%;
  fill: #ffffff; }

.site-menu-list__icon {
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.site-menu-list__arrow {
  right: 0;
  -webkit-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
  z-index: -1; }

.site-menu-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none; }
  .site-menu-list__link:hover {
    opacity: 0.8; }
  .site-menu-list__link:active {
    opacity: 0.6; }

.site-menu-list__item select {
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .site-menu-list__item select:hover {
    cursor: pointer; }

.site-menu-list__item select::-ms-expand {
  display: none; }

.site-menu-list__item--language select {
  min-width: 90px; }

.site-menu-list__item--currency select {
  min-width: 60px; }

.site-menu-list__link--wrapper option {
  color: #000000; }

.site-menu-list__item--language,
.site-menu-list__item--track {
  padding-left: 40px; }

.site-menu-list__item--currency,
.site-menu-list__item--location {
  padding-left: 30px; }

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 270px;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style: none; }

.user-menu-list__item {
  margin-right: 25px;
  padding: 36px 0; }

.user-menu-list__item:last-child {
  margin-right: 0; }

.user-menu-list__item--cart {
  position: relative;
  margin-left: 80px; }
  .user-menu-list__item--cart:after {
    position: absolute;
    content: "5";
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    top: 20px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: #fd3131;
    border-radius: 50%; }

.user-menu-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none; }
  .user-menu-list__link:hover {
    opacity: 0.8; }
  .user-menu-list__link:active {
    opacity: 0.6; }

.user-menu-list__icon {
  fill: #ffffff; }

.lower-header {
  width: 1170px;
  margin: 90px auto 0 auto; }

.lower-header .logo {
  width: 200px;
  padding: 10px 0;
  margin: 0 auto 100px auto; }

.lower-header .nav {
  margin-bottom: 100px; }

.logo {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  text-align: center; }
  .logo:hover {
    opacity: 0.8; }
  .logo:active {
    opacity: 0.6; }

.nav {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin-left: auto;
  margin-right: auto; }

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-list__item {
  position: relative;
  margin-right: 50px; }

.nav-list__item:last-child {
  margin-right: 0; }

.nav-list__link {
  text-decoration: none;
  color: #6e6e6e; }
  .nav-list__link:hover {
    opacity: 0.8; }
  .nav-list__link:active {
    opacity: 0.6; }

.nav-list__item:first-child .nav-list__link {
  color: #000000;
  font-weight: 600; }

.nav-list__arrow {
  position: absolute;
  content: "";
  top: 50%;
  right: -18px;
  fill: #6e6e6e;
  -webkit-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg); }

.nav-list__item:first-child .nav-list__link .nav-list__arrow {
  fill: #000000; }

.search {
  display: flex;
  width: 100px; }

.search__btn {
  border: none;
  padding: 0 6px;
  background: url("../img/search.svg") no-repeat transparent center center; }
  .search__btn:hover {
    cursor: pointer;
    opacity: 0.8; }
  .search__btn:active {
    opacity: 0.6; }

.search__input {
  padding: 0 15px;
  border: none; }

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #baf9c4; }

.slider__btn-prev,
.slider__btn-next {
  width: 78px;
  height: 78px;
  color: #000000;
  border: 0;
  background-color: #eefdf0; }
  .slider__btn-prev:hover,
  .slider__btn-next:hover {
    cursor: pointer;
    opacity: 0.8; }
  .slider__btn-prev:active,
  .slider__btn-next:active {
    opacity: 0.6; }

.slider__btn-prev svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px; }

.slide__list {
  margin: 0;
  padding: 0 0 0 110px;
  width: 460px;
  min-height: 520px;
  list-style: none; }

.slide__item {
  display: none; }
  .slide__item:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 660px; }

.slide__item--show {
  display: block; }

.slide__item--1:after {
  width: 230px;
  height: 606px;
  background-image: url("../img/female_3.png"); }

.slide__item--2:after {
  width: 246px;
  height: 605px;
  background-image: url("../img/female_1.png"); }

.slide__item--3:after {
  width: 215px;
  height: 606px;
  background-image: url("../img/female_2.png"); }

.slide__period {
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  padding-top: 100px;
  margin-bottom: 30px; }

.slide__header {
  margin: 0 0 30px 0;
  font-size: 38px;
  line-height: 43px; }

.slide__text {
  margin: 0 0 40px 0; }

.slide__btn {
  position: relative;
  margin-bottom: 50px; }
  .slide__btn:after {
    position: absolute;
    content: ">";
    top: 50%;
    right: 18px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.slide__frame {
  width: 285px;
  height: 445px;
  border: 1px solid #313131;
  align-self: flex-end; }

.slide__selector {
  display: flex;
  flex-direction: column; }

.slide__radio {
  display: none; }

.slide__radiolabel {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #000000; }
  .slide__radiolabel:hover {
    cursor: pointer; }

.promo {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  margin: 100px auto 0 auto;
  padding: 0 15px;
  list-style: none; }

.promo__wrapper {
  margin: 0 30px 0 0; }

.promo__item {
  background-repeat: no-repeat; }

.promo__wrapper:nth-child(even) {
  margin-right: 0; }

.promo__item--1 {
  margin-bottom: 50px;
  background-color: #e6eef0;
  background-image: url("../img/model_1.png");
  background-position: top right; }
  .promo__item--1 .promo__content {
    padding: 100px 0 100px 35px; }

.promo__item--2 {
  background-color: #fbfafa;
  background-image: url("../img/model_2.png");
  background-position: top right; }
  .promo__item--2 .promo__content {
    padding: 200px 0 170px 35px; }

.promo__item--3 {
  margin-bottom: 50px;
  background-color: #f5f5f5;
  background-image: url("../img/model_3.png");
  background-position: bottom right; }
  .promo__item--3 .promo__content {
    padding: 330px 0 40px 35px; }

.promo__item--4 {
  background-color: #e6eef0;
  background-image: url("../img/model_4.png");
  background-position: top right; }
  .promo__item--4 .promo__content {
    padding: 40px 0 160px 35px; }

.promo__content {
  width: 530px; }

.promo__header {
  width: 90px;
  margin: 0;
  font-size: 18px;
  line-height: 24px; }

.promo__link {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  color: #696969;
  text-decoration: none; }
  .promo__link:after {
    position: absolute;
    content: ">";
    top: 50%;
    right: -18px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .promo__link:hover {
    opacity: 0.8; }
  .promo__link:active {
    opacity: 0.6; }

.goods {
  width: 1170px;
  margin: 100px auto 0 auto;
  padding: 0 15px; }

.goods__header {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  text-align: center; }

.goods__tagline {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #6e6e6e;
  text-align: center; }

.goods__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 100px auto 0 auto;
  list-style: none; }

.goods__item {
  position: relative;
  width: 360px;
  height: 450px;
  margin: 0 35px 50px 0;
  background-color: #e6eef0;
  background-repeat: no-repeat; }
  .goods__item:hover {
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1); }
  .goods__item:hover .goods__popup,
  .goods__item:hover .goods__info-row {
    display: block; }
  .goods__item:hover .goods__info-row:first-child {
    display: flex; }

.goods__item:nth-child(3n) {
  margin-right: 0; }

.goods__popup {
  display: none;
  padding: 67px 0;
  background-color: rgba(0, 204, 204, 0.24); }

.goods__cart-btn,
.goods__show-btn {
  margin: 0 auto; }

.goods__cart-btn {
  margin-bottom: 10px; }

.goods__show-btn {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000; }

.goods__item--1 {
  background-image: url("../img/model_5.png");
  background-position: 40% -20px; }

.goods__item--2 {
  background-image: url("../img/model_6.png");
  background-position: 40% top; }

.goods__item--3 {
  background-image: url("../img/model_7.png");
  background-position: 40% top; }

.goods__item--4 {
  background-image: url("../img/model_8.png");
  background-position: 40% top; }

.goods__item--5 {
  background-image: url("../img/model_9.png");
  background-position: 40% top; }

.goods__item--6 {
  background-image: url("../img/model_10.png");
  background-position: 40% top; }

.goods__info-block {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 300px;
  margin: 0;
  padding: 15px 30px;
  background-color: #ffffff;
  list-style: none; }

.goods__info-row {
  display: none;
  margin-bottom: 20px;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 18px; }

.goods__info-row:first-child {
  display: flex;
  justify-content: space-between; }

.goods__info-row:last-child {
  margin-bottom: 0; }

.goods__head {
  margin: 0 0 6px 0;
  color: #000000;
  font-size: 18px;
  line-height: 24px; }

.goods__price {
  margin: 0;
  padding: 9px 0;
  font-size: 24px;
  line-height: 18px;
  color: #00cccc;
  font-weight: 600; }

.goods__colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }

.goods__colors li {
  width: 15px;
  height: 15px;
  margin: 0 10px 10px 0;
  border-radius: 50%; }

.goods__color--red {
  background-color: #ff0033; }

.goods__color--orange {
  background-color: #ff4200; }

.goods__color--cyan {
  background-color: #33cccc; }

.goods__color--violet {
  background-color: #6666cc; }

.design {
  padding: 200px 0 180px 390px;
  font-size: 30px;
  line-height: 18px;
  background: url("../img/model_11.png") no-repeat right top; }

.design__price {
  font-size: 18px; }

.design__header {
  width: 580px;
  margin: 20px 0;
  line-height: 45px; }

.design__link {
  position: relative;
  color: #666666;
  font-size: 18px;
  text-decoration: none; }
  .design__link:after {
    position: absolute;
    content: ">";
    top: 50%;
    right: -18px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .design__link:hover {
    opacity: 0.8; }
  .design__link:active {
    opacity: 0.6; }

.stock {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1140px;
  margin: 0 auto;
  padding: 350px 0 0 0;
  font-size: 18px;
  line-height: 30px; }
  .stock:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 500px;
    width: 394px;
    height: 933px;
    background-image: url("../img/model_12.png"); }

.stock__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  min-height: 710px; }

.stock__header {
  width: 380px;
  margin: 0 0 50px 0;
  font-size: 30px;
  line-height: 45px; }

.stock__text {
  margin: 0 0 50px 0;
  color: #666666;
  text-transform: none; }

.stock__btn {
  position: relative;
  width: 160px; }
  .stock__btn:after {
    position: absolute;
    content: ">";
    top: 50%;
    right: 18px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.stock__frame {
  width: 400px;
  height: 710px;
  border: 3px solid #313131; }

.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1125px;
  margin: 0 auto;
  padding: 100px 0;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #dddddd; }

.submit__wrapper {
  display: flex; }

.submit__input {
  width: 230px;
  padding: 16px;
  border: 1px solid #000000;
  border-radius: 0;
  color: #6e6e6e;
  text-transform: uppercase; }

.submit__btn {
  border: none;
  border-radius: 0;
  text-transform: uppercase; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1125px;
  margin: 0 auto;
  padding: 100px 0; }

.footer .logo {
  margin-right: 50px; }

.footer .nav-list {
  max-width: 520px;
  margin-right: 50px; }

.footer .nav-list__item {
  margin-right: 30px; }

.social {
  display: flex;
  align-items: center; }

.social__phrase {
  margin-right: 40px; }

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__link {
  position: relative;
  padding: 10px 20px; }
  .social__link:hover {
    opacity: 0.8; }
  .social__link:active {
    opacity: 0.6; }

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #6e6e6e; }
