.docs-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 520px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.docs-list__item {
  margin-right: 30px;
}

.docs-list__item--search {
  font-weight: 600;
}

.docs-list__link {
  text-decoration: none;
  color: #6e6e6e;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
